.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.likely-mobile {
  justify-content: start;
}

.likely-mobile > * {
  margin: var(--spacing-4) 0;
}

.likely-mobile > *:first-child {
  margin-top: 0;
}

.hand {
  display: flex;
  margin: var(--spacing-3) 0;
}
.hand > * {
  margin: 0 var(--spacing-1);
}

.debug-panel-toggle {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
}

.debug-panel-bottom {
  background-color: var(--ivory);
  border-radius: var(--spacing-1);
  height: 2rem;
  z-index: 100;
}
