.panel-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel-title {
  font-size: var(--font-size-2);
  font-weight: bold;
  margin-bottom: var(--spacing-1);
}

.panel-tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: space-between; */
  margin-bottom: var(--spacing-1);
}

.panel-tabs > button {
  border: 1px solid var(--charcoal);
  background-color: var(--ivory);
  border-radius: 4px;
  margin: var(--spacing-1);
  font-size: var(--font-size-1);
  cursor: pointer;
}

.panel-tabs > button:first-child {
  margin-left: 0;
}

.panel-tabs > button:last-child {
  margin-right: 0;
}

.panel-tabs > button.active {
  background-color: var(--lblue-1);
  color: var(--dblue-2);
}

.debug-data {
  overflow-y: auto;
  font-size: 0.8rem;
}

.debug-log-entry {
  position: relative;
  margin: var(--spacing-1) 0;
  padding: var(--spacing-1);
  border-radius: 2px;
  color: var(--dblue-2);
  border: 1px solid var(--dblue-2);
}

.debug-dict-entry-item {
  display: flex;
  /* justify-content: space-between; */
  margin: var(--spacing-1);
}

.debug-dict-entry-key {
  font-weight: bold;
  margin-right: var(--spacing-1);
  color: var(--dgreen-2);
}

.debug-number {
  color: var(--burg-1);
}

.debug-string {
  color: var(--mblue-1);
}

.debug-boolean {
  color: var(--gold-1);
}

.log-idx {
  font-size: 0.6rem;
  position: absolute;
  top: 2px;
  right: 2px;
}

.word-tool {
  height: 100%;
}

.word-tool > input[type="text"] {
  font-size: 1.25rem;
  position: relative;
}

.word-tool-words {
  margin-top: var(--spacing-2);
  overflow-y: scroll;
  max-height: 50vh;
}
