.button {
  color: var(--charcoal);
  font-size: 1.5em;
  padding: var(--spacing-2) var(--spacing-2);
  margin: var(--spacing-1) var(--spacing-2);
  background-color: var(--ivory);
  border-style: solid;
  border-width: 0;
  border-radius: 6px;
  outline: none;

  /* big box shadow */
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
}

.button:hover {
  outline: 1px solid var(--lblue-2);
}

.button:focus-within {
  background-color: white;
}

.play-again-button {
  color: var(--dgreen-1);
  /* border-color: var(--dgreen-3); */
  background: var(--ivory);
}

.play-again-button:hover {
  outline: 1px solid var(--dgreen-1);
}

.share-button {
  color: var(--lblue-2);
  background: var(--ivory);
}
