.quick-stats-panel {
  font-size: 1rem;
  font-weight: lighter;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: left;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(135deg, var(--lblue-1), 20%, var(--ivory-2));

  box-shadow: 0 0 3px black;
}

.landscape > *:first-child {
  margin-left: var(--spacing-1);
}
.landscape > *:last-child {
  margin-right: var(--spacing-1);
}

.portrait {
  max-width: none;
  max-height: 15vh;
  font-size: 1rem;
  justify-content: center;
}

.quick-stats-panel-section {
  display: flex;
  flex-direction: row;
}

.quick-stats-panel-item {
  margin: var(--spacing-1) var(--spacing-1-5);
  /* padding: 0 var(--spacing-1); */
  display: flex;
  border: 1px solid transparent;
}
.quick-stats-panel-item > * {
  margin: 0 var(--spacing-1);
}
.active {
  color: var(--lblue-2);
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
  border-radius: 2px;
  border: 1px solid var(--ivory-2);
  padding: 0 var(--spacing-1);
  margin: var(--spacing-1) 0;
}

.active:hover {
  color: var(--dblue-1);
  background: var(--dirty-white);
  border: 1px solid var(--dblue-2);
}

.active:focus {
  color: var(--ivory-2);
  background: var(--rainy-day);
}

.version {
  color: var(--rainy-day);
}

.status-success {
  color: var(--dgreen-1);
}

.status-warning {
  color: var(--burg-1);
}

.timer {
  font-size: 1rem;
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 500;
  color: var(--dgreen-3);
}

.timer-almost-done {
  color: var(--burg-1);
}
